$deathknight: #C41F3B;
$druid: #FF7D0A;
$hunter: #ABD473;
$mage: #69CCF0;
$monk: #00FF96;
$paladin: #F58CBA;
$priest: #FFFFFF;
$rogue: #FFF569;
$shaman: #0070DE;
$warlock: #9482C9;
$warrior: #C79C6E;
$demonhunter: #A330C9;
$uncommon: #1EFF00;
$rare: #0070DD;
$epic: #A335EE;
$legendary: #ff8000;

$warning: #E92828;

$white: #FFFFFF;
$black: #000000;

$light: #f1f1f1;
$dark: #272727;
$gray-dark: #222222;
$gray: #333333;
$primary: #0091E4;
$secondary: #767676;

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Ruda:400,700,900);
@import 'vendor/lightbox';
@import 'vendor/rpg-awesome';

@font-face {
  font-family: 'Origicide';
  src: url('../fonts/origicide-webfont.eot');
  src: url('../fonts/origicide-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/origicide-webfont.woff2') format('woff2'),
  url('../fonts/origicide-webfont.woff') format('woff'),
  url('../fonts/origicide-webfont.ttf') format('truetype'),
  url('../fonts/origicide-webfont.svg#origicideregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin label-color($color) {
  color: $color;
  border-color: $color;
}

.label-deathknight {
  @include label-color($deathknight);
}

.label-druid {
  @include label-color($druid);
}

.label-hunter {
  @include label-color($hunter);
}

.label-mage {
  @include label-color($mage);
}

.label-monk {
  @include label-color($monk);
}

.label-paladin {
  @include label-color($paladin);
}

.label-priest {
  @include label-color($priest);
}

.label-rogue {
  @include label-color($rogue);
}

.label-shaman {
  @include label-color($shaman);
}

.label-warlock {
  @include label-color($warlock);
}

.label-warrior {
  @include label-color($warrior);
}

.label-demonhunter {
  @include label-color($demonhunter);
}

.uncommon-bg {
  background-color: $uncommon;
}

.rare-bg {
  background-color: $rare;
}

.epic-bg {
  background-color: $epic;
}

.legendary-bg {
  background-color: $legendary;
}

.p-t-20 {
  padding-top: 20px;
}

.p-y-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.p-b-10 {
  padding-bottom: 10px;
}

body {
  padding-top: 50px;
  min-height: 1200px;
  font-family: "Ruda";
  color: $light;
  background-color: $dark;
}

.navbar-default {
  background-color: $gray;
  border-color: $gray;
  .navbar-toggle {
    border: none;
    color: $light;
    &:hover, &:focus {
      background-color: $gray;
    }
  }
  .navbar-collapse {
    border-color: $gray-dark;
  }
  .navbar-brand {
    font-family: "Origicide";
    color: $light;
    transition: all .2s ease-in;
    &:hover, &:focus {
      color: $primary;
    }
  }
  .navbar-nav > li > a {
    color: $light;
    transition: all .2s ease-in;
    &:focus {
      color: $light;
    }
    &:hover, &.active {
      color: $primary;
    }
  }
}

/*Lightbox CSS*/
.image {
  width: 100%;
  border-radius: 4px;
}

.image-link {
  display: inline-block;
  padding: 2px;
  margin: 0 0.5rem 1rem 0.5rem;
  background-color: $gray;
  line-height: 0;
  border-radius: 4px;
  transition: background-color 0.5s ease-out;
  &:hover, &:focus {
    background-color: $primary;
    transition: none;
  }
}

/*Section CSS*/
.section-title {
  text-transform: uppercase;
  font-weight: 600;
}

.section-subtitle {
  font-weight: 800;
  color: $secondary;
  text-transform: uppercase;
}

#splash {
  width: 100%;
  .background {
    height: 400px;
    width: 100%;
    background-image: url('../img/banner_background.jpg');
    background-position: center;
    background-repeat: no-repeat;
  }
  .title {
    font-family: 'Origicide', Arial, sans-serif;
    font-size: 6em;
    margin-top: 0.2em;
    margin-bottom: 0.1em;
    padding-left: 15px;
    z-index: 2;
    padding-top: 110px;
  }
  .subtitle {
    font-family: 'Origicide', Arial, sans-serif;
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 1em;
    padding-left: 15px;
    color: $primary;
    z-index: 2;
  }
  .schedule {
    padding-left: 15px;
    font-weight: 600;
    z-index: 2;
    font-size: 25px;
  }
  .status {
    font-size: 22px;
  }
  .info {
    background-color: #f2f2f2;
    padding: 2rem;
    color: #000;
  }
  .well {
    background-color: $gray-dark;
    padding: 0;
    border: none;
  }
}

.raid-banner {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 121px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  &.highmaul {
    background-image: url(../img/highmaul_screen.png);
  }
  &.brf {
    background-image: url(../img/brf_screen.png);
  }
  &.hfc {
    background-image: url(../img/hfc_screen.png);
  }
}

.raid-difficulty {
  color: $light;
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.progress {
  margin-bottom: 10px;
}

.wow-progress {
  i {
    font-size: 4rem;
    float: left;
    margin: 1rem;
    color: $gray;
  }
  h5 {
    font-weight: 800;
    font-size: 1.3rem;
    color: $secondary;
    text-transform: uppercase;
  }
}

#guild {
  padding: 2rem;
  .text-container {
    min-height: 200px;
  }
  h5 {
    font-size: 1.5rem;
  }
  i {
    font-size: 4rem;
    color: $secondary;
  }
}

#raiding {
  padding: 2rem;
  background-color: $gray-dark;
  background-image: url(../img/raiding_bg.png);
  background-position: right;
  background-repeat: no-repeat;
   .raid-time {
    color: $gray-dark;
    font-weight: 700;
  }
  .text {
    font-size: 1.5rem;
  }
}

#community {
  padding: 2rem 2rem 5rem 2rem;
  background-image: url(../img/community_bg.png);
  background-position: left;
  background-repeat: no-repeat;
}

.discord-btn {
  background-color: #738bd7;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 4px;
  transition: all .2s ease-in;
  &:hover, &:focus {
    background-color: $primary;
  }
}

#community p, #recruiting p {
  font-size: 1.5rem;
}

#recruiting {
  padding: 2rem;
  background-color: $gray-dark;
  .well {
    background-color: $dark;
    padding: 0px;
    border: none;
    &.recruitment {
      width: 256px;
      height: 100px;
      .spec-col {
        margin-top: 7px;
      }
      .label {
        font-size: 14px;
      }
    }
  }
}

.crest {
  margin-left: 15px;
  margin-top: 3px;
}

#footer {
  height: 250px;
  background-color: $light;
  .container {
    padding-top: 60px;
    background-color: $light;
    color: $gray-dark;
  }
}

/*Large Desktop Scale*/
@media (max-width: 1199px) {
}

/*Small Desktop Scale*/
@media (max-width: 991px) {
  #guild .text-container h5 {
    font-size: 1.4rem;
  }
}

/*Tablet Scale*/
@media (max-width: 767px) {
  #splash .background {
    height: 350px;
  }
  .raid-banner {
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    background-size: 100%;
    background-position: 0 -75px;
  }
  #community .discord-frame {
    display: none;
  }
  #footer .icon-links {
    display: none;
  }
}

/*Phone Scale*/
@media (max-width: 484px) {
  .raid-banner {
    background-size: 100% 100%;
    background-position: inherit;
  }
  #splash .background {
    background-position: 60% 23%;
    height: 180px;
  }
  #splash .title, #splash .subtitle {
    display: none;
  }
  #community .discord-frame {
    display: none;
  }
}

/*Scroll to Top CSS*/
.scroll-to-top {
  display:none;
  color: #fff;
  display: block;
  cursor: pointer;
  line-height: 40px;
  width: 40px;
  height: 40px;
  background: $gray;
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: center;
  border-radius: 4px;
  z-index: 9999;
  &:hover, &:focus {
    color: #fff;
  }
}
